vflex,.vflex{
    display: flex;
    flex-direction: column;
}
hflex,.hflex{
    display: flex;
    flex-direction: row;
}
*{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
body{
    height: 100vh;
}
.option{
    display: flex;
    width: 370px;
    justify-content: center;
    align-items: center;
    background-color: 	#1E90FF;
    color:white;
    border-width: 2px;
    
}
.option a{
    text-decoration: none solid while;
    color: white;
    border-width: 0px;
}
.option:hover{
    background-color: #4682B4;
}
.topline{
    background-color: #0000CD;
    height: 50px;
    
}
.topline hflex{
    height:50px;
    width:150vh;
    margin:0px auto
}
.flex1{
    flex:1
}